<!-- BEGIN SIDEBAR -->
<div th:fragment="teacher_menu">
	<!-- BEGIN SIDEBAR MENU -->
	<ul class="page-sidebar-menu">
		<li>
			<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
			<div class="sidebar-toggler hidden-phone"></div> <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
		</li>
		<li>
			<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
			<form class="sidebar-search">
				<div class="input-box">
					<a href="javascript:;" class="remove"></a> <input type="text"
						placeholder="查询..." /> <input type="button" class="submit"
						value=" " />
				</div>
			</form> <!-- END RESPONSIVE QUICK SEARCH FORM -->
		</li>
		<li class=""><a href="javascript:;"><span class="title">学生管理</span></a>
			<ul class="sub-menu">
				<li><a href="/teacher/toCreateStudent">学生账号创建</a></li>
				<li><a href="/teacher/toStudentInfo">学生账号管理</a></li>
			</ul>
		</li>
		<li class=""><a href="javascript:;"><span class="title">课程管理</span></a>
			<ul class="sub-menu">
				<li><a href="/teacher/tocourse">课程信息管理</a></li>
				<li><a href="/teacher/toChapter">课程章节管理</a></li>
			</ul>
		</li>
		<li class=""><a href="javascript:;"><span class="title">教程管理</span></a>
			<ul class="sub-menu">
				<li><a href="/teacher/toChapterUpload">上传教程</a></li>
				<li><a href="/teacher/toChapterMaterial">教程信息管理</a></li>
			</ul>
		</li>
		<li class=""><a href="javascript:;"><span class="title">作业管理</span></a>
			<ul class="sub-menu">
				<li><a href="/teacher/toAssignmentUpload">上传作业</a></li>
				<li><a href="/teacher/toAssignmentInfo">作业信息管理</a></li>
			</ul>
		</li>
		<li class=""><a href="javascript:;"><span class="title">个人信息管理</span></a>
			<ul class="sub-menu">
				<li><a href="/teacher/toUpdatePass">修改密码</a></li>
				<li><a href="/teacher">个人信息</a></li>
			</ul>
		</li>
	</ul>
	<!-- END SIDEBAR MENU -->
</div>
<!-- END SIDEBAR -->