<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js">
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8" />
<title>teacher page</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta content="" name="description" />
<meta content="" name="author" />
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="css/bootstrap-responsive.min.css" rel="stylesheet"
	type="text/css" />
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="css/style-metro.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/style-responsive.css" rel="stylesheet" type="text/css" />
<link href="css/default.css" rel="stylesheet" type="text/css"
	id="style_color" />
<link href="css/uniform.default.css" rel="stylesheet" type="text/css" />
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="css/jquery.gritter.css" rel="stylesheet" type="text/css" />
<link href="css/fullcalendar.css" rel="stylesheet" type="text/css" />
<link href="css/jqvmap.css" rel="stylesheet" type="text/css"
	media="screen" />
<link href="css/jquery.easy-pie-chart.css" rel="stylesheet"
	type="text/css" media="screen" />
<link href="css/demo.css" rel="stylesheet" type="text/css">
<!-- END PAGE LEVEL STYLES -->
<link rel="shortcut icon" href="teacher/images/favicon.ico" />
<script src="js/jquery-1.10.2.min.js" type="text/javascript"></script>
<style type="text/css">
</style>
<script type="text/javascript">
	$(document).ready(function(){  
		getTeacherInfo();
		$("#update_submit").off("click").on("click",updateStudent);
	});  
	
	function getTeacherInfo(){
		$.ajax({
			   type : "post",  //提交方式  
			   url :  basePath+"teacherApi/getTeacherInfo?teacherId="+teacherId,	//路径  
			   async:true,    //或false,是否异步
			   data : "jsonResult",//数据，这里使用的是Json格式进行传输  
			   success : function(res) {//返回数据根据结果进行相应的处理 
				   var data = res.data;
				   $("#teacherName").html(data.teacherName);
			   }
		});
	}
	
	function updateStudent(){
		var studentId = $("#studentId").val();
		var studentName = $("#studentName").val();
		var studentSex = $("#studentSex").val();
		var studentAge = $("#studentAge").val();
		var studentEmail = $("#studentEmail").val();
		var studentPhone = $("#studentPhone").val();
		var studentQQ = $("#studentQQ").val();
		var studentAccount = $("#studentAccount").val();
		var studentPassword = $("#studentPassword").val();
		$.ajax({
			type : "get",  //提交方式  
			url :  basePath+"teacherApi/updateStudentInfo?teacherId="+teacherId+"&studentId="+studentId+"&studentName="+studentName+"&studentSex="+studentSex+"&studentAge="+studentAge+"&studentEmail="+studentEmail+"&studentPhone="+studentPhone+"&studentQQ="+studentQQ+"&account="+studentAccount+"&password="+studentPassword,	//路径  
			async:true,    //或false,是否异步
			data : "jsonResult",//数据，这里使用的是Json格式进行传输 
			success : function(res) {//返回数据根据结果进行相应的处理 
				var status = res.status;
				if(status!=0){
					alert(res.msg);
					return false;
				}
				alert(res.msg);
				window.location.href = basePath + "teacher/toStudentInfo?teacherId=" + teacherId ;
			   }
		});
	}
</script>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed">
	<input type="hidden" id="teacherId" th:value="${student.teacherId}" />
	<!-- BEGIN CONTAINER -->
	<div class="page-container">
		<div th:include="teacher/teacher_top :: teacher_top"
			class="header navbar navbar-inverse navbar-fixed-top"></div>
		<div th:include="teacher/teacher_menu :: teacher_menu"
			class="page-sidebar nav-collapse collapse"></div>
		<!-- BEGIN PAGE -->
		<div class="page-content">
			<!-- BEGIN PAGE CONTAINER-->
			<div class="container-fluid">
				<!-- BEGIN PAGE HEADER-->
				<div class="row-fluid">
					<div class="span12">
						<!-- BEGIN STYLE CUSTOMIZER -->
						<div class="color-panel hidden-phone">
							<div class="color-mode-icons icon-color"></div>
							<div class="color-mode-icons icon-color-close"></div>
							<div class="color-mode">
								<p>THEME COLOR</p>
								<ul class="inline">
									<li class="color-black current color-default"
										data-style="default"></li>
									<li class="color-blue" data-style="blue"></li>
									<li class="color-brown" data-style="brown"></li>
									<li class="color-purple" data-style="purple"></li>
									<li class="color-grey" data-style="grey"></li>
									<li class="color-white color-light" data-style="light"></li>
								</ul>
								<label> <span>Layout</span> <select
									class="layout-option m-wrap small">
										<option value="fluid" selected>Fluid</option>
										<option value="boxed">Boxed</option>
								</select>
								</label> <label> <span>Header</span> <select
									class="header-option m-wrap small">
										<option value="fixed" selected>Fixed</option>
										<option value="default">Default</option>
								</select>
								</label> <label> <span>Sidebar</span> <select
									class="sidebar-option m-wrap small">
										<option value="fixed">Fixed</option>
										<option value="default" selected>Default</option>
								</select>
								</label> <label> <span>Footer</span> <select
									class="footer-option m-wrap small">
										<option value="fixed">Fixed</option>
										<option value="default" selected>Default</option>
								</select>
								</label>
							</div>
						</div>
						<!-- END BEGIN STYLE CUSTOMIZER -->
						<!-- BEGIN PAGE TITLE & BREADCRUMB-->
						<h3 class="page-title">
							欢迎回来！ <small id="teacherName">teacherName</small>
						</h3>
						<ul class="breadcrumb">
							<li class="pull-right no-text-shadow">
								<div id="dashboard-report-range"
									class="dashboard-date-range tooltips no-tooltip-on-touch-device responsive"
									data-tablet="" data-desktop="tooltips" data-placement="top"
									data-original-title="Change dashboard date range">
									<span></span>
								</div>
							</li>
						</ul>
						<!-- END PAGE TITLE & BREADCRUMB-->
					</div>
				</div>
				<!-- END PAGE HEADER-->
				<div id="dashboard" align="center">
					<section id="getintouch" class="fadeInDownBig animated">
						<div class="container" style="border-bottom: 0;">
							<h1>
								<label>学生信息修改</label>
							</h1>
						</div>
						<div id="dashboard" align="center">
							<table id="table-1" border="1" style="width: 100%;">
								<thead>
									<tr>
										<td align="center" colspan="4">学生信息</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>学生编号 : <input type="text" th:value="${student.studentId}" id="studentId" class="studentId"></input></td>
										<td>姓名 : <input type="text" th:value="${student.studentName}" id="studentName" class="studentName"></input></td>
										<td>性别 : 
											<select id="studentSex" th:field="${student.studentSex}">
											<option value="0">未填写</option>
											<option value="1" th:selected="selected">男</option>
											<option value="2" th:selected="selected">女</option>
											</select>
										</td>
										<td>年龄 : <input th:value="${student.studentAge}" id="studentAge" class="studentAge" /> 岁</td><!-- 
										<td rowspan="3"><a><img th:value=${student.studentPik} id="studentPik" alt="" src=""></a></td> -->
										<!-- <input type="file" id="teacherPik" name="teacherPik"> -->
									</tr>
									<tr>
										<td>使用账号:<input  th:value="${studentAccount.account}" id="studentAccount" class="studentAccount"></td>
										<td>密码:<input th:value="${studentAccount.password}" id="studentPassword" class="studentPassword"></td>
										<td id="classInfo">所属班级:<span th:value="${classes.classId}" th:text="${classes.className}" id="classId" class="classId"></span></td>
									</tr>
									<tr>
										<td align="center" colspan="3">联系方式</td>
									</tr>
									<tr>
										<td>Email : <input th:value="${student.studentEmail}" id="studentEmail" class="studentEmail"></input></td>
										<td>手机 : <input th:value="${student.studentPhone}" id="studentPhone" class="studentPhone"></input></td>
										<td>QQ : <input th:value="${student.studentQQ}" id="studentQQ" class="studentQQ"></input></td>
									</tr>
									<tr>
										<td>创建时间 : <span  th:text="${#dates.format(student.createTime, 'yyyy-MM-dd HH:mm:ss')}" id="createTime" class="createTime"></span></td>
										<td>上次修改时间 : <span th:text="${#dates.format(student.modifyTime, 'yyyy-MM-dd HH:mm:ss')}" id="modifyTime" class="modifyTime"></span></td>
									</tr>
									<tr>
										<td><button id="update_submit">提交修改</button></td>
									</tr>
								</tbody>
							</table>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
	<!-- END CONTAINER -->
	<!-- BEGIN FOOTER -->
	<div class="footer">
		<div class="footer-inner">
			2013 &copy; Metronic by keenthemes.Collect from <a
				href="http://www.cssmoban.com/" title="网站模板" target="_blank">网站模板</a>
			- More Templates <a href="http://www.cssmoban.com/" target="_blank"
				title="模板之家">模板之家</a>
		</div>
		<div class="footer-tools">
			<span class="go-top"> <i class="icon-angle-up"></i>
			</span>
		</div>
	</div>

	
	<script src="js/app.js" type="text/javascript"></script>
	<script src="js/teacher.config.js" type="text/javascript"></script>
	<script>
		jQuery(document).ready(function() {
			App.init(); // initlayout and core plugins
		});
	</script>
	<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>